<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

In [4]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
# Find duplicate rows
duplicate_rows = df[df.duplicated()]

# Count the number of duplicate rows
num_duplicate_rows = len(duplicate_rows)

# Display the result
print(f"Number of duplicate rows: {num_duplicate_rows}")

Number of duplicate rows: 154

In [8]:
print("Original DataFrame shape:", df.shape)

Original DataFrame shape: (11552, 85)

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [7]:
# your code goes here
df_no_duplicates = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [9]:
# your code goes here
# Display the shape of the DataFrame without duplicates
print("DataFrame without duplicates shape:", df_no_duplicates.shape)

# Compare the number of rows before and after removing duplicates
if df.shape[0] == df_no_duplicates.shape[0]:
    print("No duplicates were dropped.")
else:
    print("Duplicates were dropped.")

DataFrame without duplicates shape: (11398, 85)
Duplicates were dropped.

## Finding Missing values

Find the missing values for all columns.

In [11]:
# your code goes here
# Find missing values for all columns
missing_values = df.isnull().sum()

# Display the result
print("Missing values for all columns:")
print(missing_values)

Missing values for all columns:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [13]:
# your code goes here
missing_rows_workloc = df['WorkLoc'].isnull().sum()

print(f"Number of missing rows in the 'WorkLoc' column: {missing_rows_workloc}")

Number of missing rows in the 'WorkLoc' column: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [14]:
# your code goes here
workloc_value_counts = df['WorkLoc'].value_counts()

print("Value counts for the 'WorkLoc' column:")
print(workloc_value_counts)

Value counts for the 'WorkLoc' column:
WorkLoc
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [15]:
#make a note of the majority value here, for future reference
most_frequent_workloc = workloc_value_counts.max()

print("The most frequent (majority) value in the 'WorkLoc' column:", most_frequent_workloc)

The most frequent (majority) value in the 'WorkLoc' column: 6905

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [16]:
# your code goes here
df['WorkLoc'].fillna(most_frequent_workloc, inplace=True)
workloc_Total_null= df['WorkLoc'].isnull().sum()
print("Number of missing rows in the 'WorkLoc' column after imputation:",workloc_Total_null)

Number of missing rows in the 'WorkLoc' column after imputation: 0

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [17]:
# your code goes here
missing_rows_after_imputation = df['WorkLoc'].isnull().sum()

if missing_rows_after_imputation == 0:
    print("Imputation was successful. No missing values in the 'WorkLoc' column.")
else:
    print("Imputation was not successful. There are still missing values in the 'WorkLoc' column.")

Imputation was successful. No missing values in the 'WorkLoc' column.

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [18]:
# your code goes here
compfreq_categories = df['CompFreq'].unique()

# Display the result
print("Various categories in the 'CompFreq' column:")
compfreq_categories

Various categories in the 'CompFreq' column:

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [19]:
# your code goes here
df['NormalizedAnnualCompensation'] = df.apply(lambda row: row['CompTotal'] if row['CompFreq'] == 'Yearly' else
                                                  row['CompTotal'] * 12 if row['CompFreq'] == 'Monthly' else
                                                  row['CompTotal'] * 52 if row['CompFreq'] == 'Weekly' else
                                                  None, axis=1)

# Display the result
print("Updated DataFrame with the 'NormalizedAnnualCompensation' column:")
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head())

Updated DataFrame with the 'NormalizedAnnualCompensation' column:
  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).